/SportsEvent/nbproject/private/
/PadraoSingletonNumeroTelefone/nbproject/private/
/PadraoSingletonNumeroTelefone/build/
/LeituraArquivoCSV/nbproject/private/
/LeituraArquivoCSV/build/
/LeituraArquivoCSV/dist/
/ComunicacaoServidores/build/
/ComunicacaoServidores/dist/